.hover {
    transition: .25s ease-in-out;
}

.hover:hover {
    background-color: #f9fafb;
    cursor: pointer;
    transition: .25s ease-in-out;
}

:host ::ng-deep .p-chip.custom-chip {
    background-color: #3B82F6;
    display: block;
    width: fit-content;
    margin-bottom: 5px;
    // width: 100%;
    color: #fff;
    border-radius: 5px;
    padding: 3px 10slacpx;
}